* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


.banner {
	width: 100%;
	height: 350px;
	background-color: black;
	position: relative;
}

#acelogo {
	width: 300px;
	position: relative;
	margin: 20px;
    animation: spin 2s infinite;
}

@keyframes spin {
	0% {transform: rotate(0deg); }
	100% {transform: rotate(360deg); }

}

.banner > h1 a {
	text-decoration: none;
	color: #e65c00;
	letter-spacing: 5px;
}


.navigation {
	width: 100%;
	height: 50px;
	background-color: black;
	color: orange;
	text-align: center;
	font-family: 'lato', sans-serif;
	font-size: 40px;
	font-weight: 900;
}

.services {
	width: 100%;
	height: 800px;
	background-color: black;
	padding: 20px;
	position: relative;
}

.overlay {
	background-color: orange;
	height: 100%;
	width: 100%;
	transition: .5s ease;
	opacity: 0;
	font-weight: 900;
}

.effect:hover .overlay{
	opacity: 1;
}

.hovertext {
	color: white;
	font-family: 'lato', sans-serif;
	text-align: center;
	vertical-align: center;
	font-size: 50px;
	position: relative;
	top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#htext {
	text-decoration: none;
}


#htext:visited {
 	color: black;
}



.activation {
	height: 98.5%;
	width: 48%;
	background-color: grey;
	float: left;
	margin: 10px;
	background: url(../img/activationmain.jpg) no-repeat;
	background-size: 100% 100%;
}

.creatives {
	height: 48%;
	width: 47%;
	background-color: white;
	float: left;
	margin: 10px;
	background: url(../img/creativesmain.jpg) no-repeat;
	background-size: 100% 100%;
}

.events {
	height: 48%;
	width: 47%;
	background-color: silver;
	float: left;
	margin: 10px;
	background: url(../img/eventmain.jpg) no-repeat;
	background-size: 100% 100%;
}

.events:after {
	content: ""; 
	clear: both;
	display: block;
}

.clear {
	content:""; 
	clear: both;
	display: block;
}

.footer {
	height: 210px;
	width: 100%;
	background-color: black;
	color: orange;
	font-weight: 900;
	font-family: 'lato', sans-serif;
	padding: 20px 20px 0px 30px;
}

#social:link {
	text-decoration: none;
	color: orange;
}


#social:visited {
	color: orange;
}

ul {
  list-style-type: none;
}


.about {
	width: 500px;
	height: 180px;
	float: left;
	margin-right: 20px;

}

.contact {
	height: 180px;
	float: left;
	margin: 0px 20px;
}

.follow {
	width: 100px;
	float: left;
	margin: 0px 20px;
}

p {
	margin-bottom: 10px;

}

h2 {
	margin-bottom: 10px;
	text-transform: lowercase;
}

/*webpages*/

.webpage2 {
	width: 100%;
	height: 400px;
	background-color: black;
}

.services2 {
	padding: 0px;
	height: 700px;
	width: 100%;
	background-color: black;
}


.portfolio {
	width: 100%;
	height: 100%;
	float: left;
	/*margin: 20px;*/
}

#portpic {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container {
	position: relative;
	height:299px;
	width: 30%;
	float: left;
	margin: 20px;
}

.overlay2 {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .5s ease;
	background-color: rgba(0, 0, 0, 0.8);
}

.container:hover .overlay2 {
  opacity: 0.8;
}


.hovertext2 {
	  color: white;
	  font-size: 30px;
	  font-family: 'lato' sans-serif;
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, -50%);
	  -ms-transform: translate(-50%, -50%);
}


/*tablet*/
@media only screen and (min-width: 401px) and (max-width: 960px) {

	.activation,
	.creatives,
	.events {
		width: 96%;
		height: 350px;
		float: left;
	}

	.services {
		height: 1160px;
	}

	.footer {
		height: 375px;
	}

	.about {
		width: 100%;
		height: 200px;
	}

	.contact {
		height: 140px;
	}

	.services2 {
		min-height: 1920px;
	}

	.portfolio {
		height: 300px;
		width: 90%;
		float: left;
	}

	.container {
		width: 100%;
		height: 275px;
		position: relative;
	}

	.overlay2 {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 110%;
		width: 90%;
	}

}

/*mobile*/
@media only screen and (max-width: 400px) {

	.services {
		padding: 10px;
		min-height: 100px;
	}

	.activation,
	.creatives,
	.events {
		width: 94%;
		height: 240px;
		/*float: left;*/
	}

	.services:after {
		content:""; 
		clear: both;
		display: block;
	}	

	.footer {
		width: 100%;
		height: 350px;
	}

	.about {
		display: none;
	}

	.contact,
	.follow {
		width: 80%;
	}

	#acelogo {
		width: 300px;
		margin: 0 auto;
		display: block;
		top: 40px;
	    /*transform: translateX(-50%) translateY(-50%)*/;
	}

	.services2 {
		height: 1750px;
	}

	.portfolio {
		width: 90%;
		height: 250px;
		float: left;
	}

	.container {
		height: 250px;
		width: 98%;
	}

	.overlay2 {
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		height: 100%;
		width: 100%;
	}


}