* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.wrapper {
	width: 100%;
	height: 1000px;
	background-color: white;
}

.banner {
	width: 80%;
	height: 400px;
	background-color: #3F729B;
	margin: 0 auto;
	justify-content: flex-start;
	display: flex;
	padding: 40px;
	flex-wrap: wrap;
}

.pic {
	width: 20%;
	height: 200px;
	background-color: white;
	/*border-radius: 50%;*/
	float: left;
	margin: 20px;
}

.pic img {
	width: 100%;
	height: 100%;
}

.welcome {
	height: 200px;
	width: 60%;
	background-color: #3F729B;
	float: left;
	font-family: 'lato', sans-serif;
	font-weight: 900;
	color: white;
	font-size: 24px;
}

.clear:after {
	content: "";
	display: block;
	clear: both;
}

.work {
	width: 80%;
	height: 100px;
	background-color: white;
	color: #3F729B;
	font-family: 'lato', sans-serif;
	text-align: center;
	margin: 0 auto;
	vertical-align: middle;
	font-size: 3em;
	padding-top: 20px;
	font-weight: 900;
}

.portfolio {
	width: 80%;
	height: 618px;
	background-color: white;
	margin: 0 auto;
	padding: 10px;
	justify-content: flex-start;
	display: flex;
	flex-wrap: wrap;

}

.capstone {
	width: 40%;
	height: 40%;
	background-color: #3F729B;
	margin: 0 auto;
	line-height: 100%;
	color: white;
	font-size: 2em;
	display : flex;
  	align-items : center;
  	justify-content: center;
  	font-family: 'lato', sans-serif;
}


.capstone1 {
	background-color: black;
	position: relative;
}

#acelogo {
	height: 200px;
	width: 200px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.capstone img {
	display: block;
	width: 100%;
	height: 100%;
}

.about {
	width: 80%;
	height: 400px;
	background-color: #3F729B;
	margin: 0 auto;
	padding: 20px;
	justify-content: flex-start;
	display: flex;
	flex-wrap: nowrap;
}





.me {
	width: 80%;
	height: 80%;
	background-color: #3F729B;
	margin: 50px;
	display: flex;
	align-items: center;
  	justify-content: center;
  	color: white;
  	font-family: 'lato', sans-serif;
}


#seed {
	width: 150px;
	height: 200px;
	float: left;
	margin: 50px;
}


.footer {
	width: 80%;
	height: 50px;
	background-color: #3F729B;
	margin: 0 auto;
	color: white;
	text-align: center;
	padding: 5px;
}

