* {
	margin: 0;
	padding: 0;
	box-sizing: border-box; /*to avoid overflow (horizontal scrollbar*/
}

.container_one {
	background-color: black;
	width: 700px;
	padding: 10px;
}

.container_one_box {
	background-color: grey;
	width: 150px;
	height: 150px;
	margin: 10px;
	float: left;
}

.container_one:after {
	content: " "; 
	clear: both;
	display: block;
}

.container_two {
	background-color: black;
	paddding: 10px;
	width: 700px;
	height: 700px;;
	z-index: 0;
}

.container_two_box {
	background-color: black;
	width: 150px;
	height: 150px;
	margin: 10px;
	border: white solid 1px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 10px;
	z-index: 1;
	float: left;
}

.grey_box_two {
	background-color: grey;
	width: 100%;
	height: 75%;
	position: relative;
	bottom: 16px;
}

.container_font_two {
	color: white;
 	text-align: center;
 	position: relative;
 	top: 110px;
}

.container_three {
	background-color: black;
	padding: 10px;
	width: 700px;
	height: 300px;
	position: relative;
}

.container_three_box {
	background-color: grey;
	margin-right: 10px;
	width: 150px;
	height: 150px;
	float: left;
	position: relative;
	overflow: hidden;
}

.container_four {
	background-color: black;
	width: 700px;
	height: 400px;
	padding: 10px;
}

.container_four_box {
	background-color: grey;
	margin-right: 10px;
	width: 150px;
	height: 150px;
	position: relative;
}

.container_four_text {
	background-color: black;
	height: 300;
	width: 500px;
	float: right;
	position: relative;
	bottom: 150px;
}